
body {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    background-image:url('Background_image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#Description {
    position: absolute;
    z-index: 2;
    left: 34%;
    top: 10%;
    font-size: 18px;
    color: lightgrey;
    font-family: fantasy;
    font-weight: 300;
    visibility: visible;    
}

#Lose {
    position: absolute;
    z-index: 2;
    left: 36%;
    top: 36%;
    visibility: hidden;
    font-size: 30px;
    font-family: fantasy;
    color: darkred;
    font-weight: 700;
}
#start {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    color:white; 
    text-align: center;
    font-family: fantasy;
    font-stretch: expanded;
    text-transform: uppercase;
    font-size: 50px;
       
}

/* #header {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    color:white; 
    text-align: center;
    font-family: fantasy;
    font-stretch: expanded;
    text-transform: uppercase;
    font-size: 50px;
} */

/* #try-again {
    visibility: hidden;
} */

#restart a {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 66%;
    top: 17%;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
}





#revealedWord {
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;
    top: 47%;
    font-size: 30px;
    font-weight: 300;
    z-index: 2;
    visibility: hidden;
}





#speaker {
    grid-row: 2;
    grid-column: 3;
    height: auto;
}

/* #hangmanBox {
    grid-row: 2;
    grid-column: 3;

} */

#Noose, #skeleton-head, #skeleton-torso, #skeleton-right-arm, #skeleton-left-arm, #skeleton-right-leg, #skeleton-left-leg, #Jerry-for-the-win{
    grid-row: 2;
    grid-column: 2;
    position: absolute;
}

#Noose{
    z-index: 2;
    top: 5%;
    left: 42.8%;
}

#skeleton-head {
    z-index: 3;
    top: 17%;
    left: 46.5%;
    visibility: hidden;
}
#skeleton-torso {
    z-index: 1;
    left: 47.8%;
    top: 29%;
    visibility: hidden;
}
#skeleton-right-arm {
    z-index: 1;
    left: 51.6%;
    top: 30%;
    visibility: hidden;
}
#skeleton-left-arm {
    z-index: 1;
    left: 45.5%;
    top: 30%;
    visibility: hidden;
}
#skeleton-right-leg {
    z-index: 1;
    left: 49.5%;
    top: 39.5%;
    visibility: hidden;
}
#skeleton-left-leg {
    z-index: 1;
    left: 47.4%;
    top: 39.5%;
    visibility: hidden;
}

#Jerry-for-the-win {
    z-index: 2;
    left: 45%;
    top: 9%;
    visibility: hidden;
}

#Thanks {
    position: absolute;
    z-index: 2;
    left: 36%;
    top: 9%;
    visibility: hidden;
}

.keyboard {
    grid-row: 4;
    grid-column: 2/3;
    padding: 1%;
    display: grid;  
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;

}

.keyboardRow1 {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.key1 {
    grid-row: 1;
    grid-column: 2;
    text-decoration: none;
    background:white;
    color: black;
    font-family: fantasy;
    font-weight: 800;
    border: solid black;
    padding: 3px;
}

.keyboardRow2 {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key2 {
    grid-row: 2;
    grid-column: 2;
    text-decoration: none;
    background:white;
    font-family: fantasy;
    font-weight: 800;
    color: black;
    border: solid black;
    padding: 3px;
}

.keyboardRow3 {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key3 {
    grid-row: 3;
    grid-column: 2;
    text-decoration: none;
    background:white;
    font-family: fantasy;
    font-weight: 800;
    color: black;
    border: solid black;
    padding: 3px;
}

