
body {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

#header {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    color: black; 
    text-align: center;
    font-stretch: expanded;
    text-transform: uppercase;
    font-size: 38px;
}


#revealedWord {
    position: absolute;
    left: 45%;
    top: 60%;
    font-size: 20px;
    z-index: 2;
}

#start{
    grid-row: 1;
    grid-column: 1; 
}

#try-again{
    color: white;
}


#speaker {
    grid-row: 2;
    grid-column: 3;
    height: auto;
}

/* #hangmanBox {
    grid-row: 2;
    grid-column: 2;

} */

#Noose, #skeleton-head, #skeleton-torso, #skeleton-right-arm, #skeleton-left-arm, #skeleton-right-leg, #skeleton-left-leg, #Jerry-for-the-win{
    grid-row: 2;
    grid-column: 2;
    position: absolute;
}

#Noose{
    z-index: 2;
    top: 6%;
    left: 41.8%;
}

#skeleton-head {
    z-index: 3;
    top: 21%;
    left: 45%;
    visibility: hidden;
}
#skeleton-torso {
    z-index: 1;
    left: 46.5%;
    top: 33%;
    visibility: hidden;
}
#skeleton-right-arm {
    z-index: 1;
    left: 50%;
    top: 34%;
    visibility: hidden;
}
#skeleton-left-arm {
    z-index: 1;
    left: 44.5%;
    top: 34%;
    visibility: hidden;
}
#skeleton-right-leg {
    z-index: 1;
    left: 48.5%;
    top: 46%;
    visibility: hidden;
}
#skeleton-left-leg {
    z-index: 1;
    left: 46%;
    top: 46%;
    visibility: hidden;
}

#Jerry-for-the-win {
    z-index: 2;
    left: 35%;
    top: 9%;
    visibility: hidden;
}

.keyboard {
    grid-row: 4;
    grid-column: 2;
    padding: 1%;
    display: grid;  
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;

}

.keyboardRow1 {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.key1 {
    grid-row: 1;
    grid-column: 2;
    text-decoration: none;
    color: black;
    border: solid black;
    padding: 3px;
}

.keyboardRow2 {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key2 {
    grid-row: 2;
    grid-column: 2;
    text-decoration: none;
    color: black;
    border: solid black;
    padding: 3px;
}

.keyboardRow3 {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.key3 {
    grid-row: 3;
    grid-column: 2;
    text-decoration: none;
    color: black;
    border: solid black;
    padding: 3px;
}

